body {
    min-height: 100%;
    position: relative;
    padding-top: 40px;
}

a#hyperlink {
  color: #003399;
}

a#downloads {
  color: #003399;
}

a#hyperlink:hover {
  color: #61c44b;
}

a#downloads:hover {
  color: #61c44b;
}

h2 {
  margin-top: 2.0ex;
  margin-bottom: 2.0ex;
}

h3 {
  margin-top: 1.6ex;
}

@media (max-width: 600px) {
  body {
    padding-top: 26px;
  }

  h2 {
    margin-top: 2.0ex;
    margin-bottom: 1.8ex;
    font-size: 35px;
  }
  h3 {
    margin-top: 2.0ex;
    margin-bottom: 1.8ex;
    font-size: 25px;
  }
  .row {
    margin: 0;
  }
}

footer.page-footer  {
    background-color: #112662;
}
